<ion-header>
</ion-header>

<ion-content color="tertiary" >
  <ion-card mode="ios" class="container" style="background-color: #1b0052;">
    <ion-card-header>
      <ion-card-title style="text-align: center;color: #ede5ff;">
        LOG IN CS
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list style="border: 5px; border-color: #ede5ff;">
        <ion-item style="--background: #ede5ff;">
          <ion-label color="tertiary" position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item style="--background: #ede5ff;">
          <ion-label color="tertiary" position="floating">Password</ion-label>
          <ion-input [type]="showpass? 'text':'password'" [(ngModel)]="pass"></ion-input>
          <ion-buttons slot="end">
            <ion-button (click)="showpass = !showpass" >
              <ion-icon slot="icon-only" name="eye" [color]="showpass? 'danger':'tertiary'"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
      <br>
      <ion-button [disabled]="onlogin" (click)="login()" expand="block" style="margin:0; height: 40px; --background: #ede5ff;">
        <ion-icon name="log-in" color="tertiary"></ion-icon>&nbsp;
        <ion-label color="tertiary">MASUK</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>