.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pc {
    color: white;
    padding: 10px 18px 10px 10px;
    font-size: 18px;
}

.eksp {
    font-size: 18px;
    color: white !important;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

ion-icon {
    margin: 0px 5px 0px 0px;
}

ion-datetime {
    padding-left: 0px;
}

ion-card-subtitle {
    margin: 0px;
}

.icon-badge {
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 10px;
    font-size: 12px;
}
.item-header {
    height: 40px;
}