<ion-header>
  <ion-toolbar color="tertiary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>NABIILAH</strong>STORE
    </ion-title>
  </ion-toolbar>
  <ion-progress-bar color="tertiary" *ngIf="onLoad" type="indeterminate"></ion-progress-bar>
</ion-header>
 
<ion-content no-padding>

<div *ngIf="closingData | async; let closingan">
  <ion-card *ngFor="let items of closingan | groupBy: 'ekspedisi'">
    <ion-item-divider color="tertiary">
      <ion-icon slot="start" name="cube"></ion-icon>
      <ion-label><span class="eksp"><strong>{{ items.key }}</strong></span> <span class="note">Total: {{ items.value | pluck: 'totalOngkir' | sum | number }} <br> Real:  {{ items.value | pluck: 'realOngkir' | sum | number }}</span></ion-label>
      <ion-label slot="end"><span class="paket">{{ items.value.length }} Paket <br> {{ (items.value | pluck: 'listBarang' | flatten).length }} pcs</span></ion-label>
    </ion-item-divider>
    <ion-item-sliding *ngFor="let item of items.value | orderBy: 'penerima'">
      <ion-item [color]="!item.resi ? 'warning' : 'light'" (click)="detailPaket(item)">
        <ion-label>
          <ion-note><strong>{{ item.id }}</strong> | <span>{{ item.totalOngkir | number }} ({{ item.berat }}Kg)</span></ion-note>
          <ion-card-title>
          <strong>{{ item.cs }} - {{ item.penerima }}</strong>
          </ion-card-title>
          <ion-note *ngIf="item.resi"><strong>{{ item.resi }}</strong>
            <span *ngIf="item.realOngkir && (item.realOngkir!==item.totalOngkir || item.realBerat!==item.berat)"
                  [class]="(item.realOngkir>item.totalOngkir) ? 'kurang' : 'lebih'"> | {{ item.realOngkir | number }} ({{ item.realBerat }}Kg)</span>
          </ion-note>
        </ion-label>
        <ion-note slot="end">
          <ion-label color="tertiary">{{ item.status }}</ion-label>
          <ion-label>{{ item.listBarang.length }}pcs </ion-label>
        </ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="tertiary" (click)="detailPaket(item)">EDIT</ion-item-option>
      </ion-item-options>
      <!--
      <div *ngIf="item.switch">
        <ion-item color="light">
          <ion-label position="floating">Nomor Resi:</ion-label>
          <ion-input [(ngModel)]="scannedData"></ion-input>
        </ion-item>
        <ion-item color="light" *ngIf="salahOngkir">
          <ion-label position="floating">Real Ongkir:</ion-label>
          <ion-input [(ngModel)]="realOngkir" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button expand="block" color="tertiary" (click)="scan()"><ion-icon slot="icon-only" name="barcode"></ion-icon> SCAN BARCODE</ion-button>
          <ion-button expand="block" [color]="salahOngkir?'tertiary':'light'" (click)="salahOngkir=!salahOngkir">Salah Ongkir?</ion-button>
          <ion-button expand="block" color="tertiary" (click)="updateResi(item)" slot="end">INPUT</ion-button>
        </ion-item>
      </div>
      -->
    </ion-item-sliding>
  </ion-card>
</div>

<!--
  <h1>Enter Value to Create QR code</h1>
  <ion-input type="text" [(ngModel)]="encodedData"></ion-input>
 
  <ion-button (click)="encodedText()">
    Create QR
  </ion-button>
-->
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-card>
          <ion-item-divider color="tertiary">
            <ion-datetime class="eksp" slot="start" [(ngModel)]="now"  display-format="DD MMM YYYY" placeholder="Pilih Tanggal"></ion-datetime>
            <ion-button color="light" slot="end" expand="full" fill="clear" (click)="tampilkan()">Tampilkan</ion-button>
          </ion-item-divider>
      </ion-card>
  </ion-toolbar>
</ion-footer>