<ion-header>
  <ion-toolbar color="tertiary" mode="ios">
    <ion-title>NabiilahScan v1.1.3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="vertical-center">
  <div>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
              <ion-card class="center" routerLink="/scan">
                <img src="../../assets/messenger.svg" />
                <ion-card-header>
                  <ion-card-subtitle>Scan Barang Keluar</ion-card-subtitle>
                  <ion-card-title><strong>KIRIM</strong></ion-card-title>
                </ion-card-header>
              </ion-card>
          </ion-col>
          <ion-col size="6">
              <ion-card class="center"  routerLink="/resi">
                <img src="../../assets/barcode-scanner.svg" />
                <ion-card-header>
                  <ion-card-subtitle>Cari & Masukkan Resi</ion-card-subtitle>
                  <ion-card-title><strong>INPUT RESI</strong></ion-card-title>
                </ion-card-header>
              </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-card class="center" routerLink="/barang-masuk">
                <img src="../../assets/cart.svg" />
                <ion-card-header>
                  <ion-card-subtitle>Scan Barang Masuk</ion-card-subtitle>
                  <ion-card-title><strong>DATANG</strong></ion-card-title>
                </ion-card-header>
              </ion-card>
          </ion-col>
          <ion-col>
              <ion-card class="center" routerLink="/list-ambilan">
                <img src="../../assets/package.svg" />
                <ion-card-header>
                  <ion-card-subtitle>Daftar List Ambilan</ion-card-subtitle>
                  <ion-card-title><strong>LIST</strong></ion-card-title>
                </ion-card-header>
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar text-center color="tertiary" mode="ios">
    <ion-text>Aplikasi Segala Scan</ion-text>
  </ion-toolbar>
</ion-footer>