<ion-content>
  <div class="vertical-center">
    <ion-card class="center" routerLink="/scan">
    <img src="../../assets/qr-code.svg" />
    <ion-card-header>
      <ion-card-subtitle>Scan Barang Keluar</ion-card-subtitle>
      <ion-card-title><strong>KIRIM</strong></ion-card-title>
    </ion-card-header>
  </ion-card>
  <br>
  <ion-card class="center"  routerLink="/resi">
    <img src="../../assets/invoice.svg" />
    <ion-card-header>
      <ion-card-subtitle>Cari dan Masukkan Resi</ion-card-subtitle>
      <ion-card-title><strong>INPUT RESI</strong></ion-card-title>
    </ion-card-header>
  </ion-card>
  </div>
</ion-content>