<ion-header>
  <ion-toolbar color="tertiary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-chip color="light">
        <ion-icon name="archive" color="light"></ion-icon>
        <ion-label><strong>LIST</strong> AMBILAN&nbsp;{{ dataPrint?.length }}pc</ion-label>
      </ion-chip>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="print()">
        <ion-icon name="print" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar color="tertiary" *ngIf="onload" type="indeterminate"></ion-progress-bar>
</ion-header>
 
<ion-content no-padding>
<div *ngIf="dataPrint">
  <ion-list class="ion-no-padding">
      <ion-item-sliding *ngFor="let data of dataPrint | orderBy:'dateKeep'">
        <ion-item>
          <ion-label>
            <ion-note style="font-size: 12px;color: #383838">{{ data.penerima.toUpperCase() }} <strong>({{ data.cs }})</strong></ion-note>
            <ion-card-title style="font-size: 17px;">
            {{ tool.titleCase(data.barang) }} {{ tool.titleCase(data.warna) }}
            </ion-card-title>
          </ion-label>
          <ion-toggle [value]="data" color="tertiary" mode="ios" [checked]="isSelected(data)" (ionChange)="$event ? selectPrint($event, data) : null"></ion-toggle>
        </ion-item>
      </ion-item-sliding>
  </ion-list>
</div>

<!--
  <h1>Enter Value to Create QR code</h1>
  <ion-input type="text" [(ngModel)]="encodedData"></ion-input>
 
  <ion-button (click)="encodedText()">
    Create QR
  </ion-button>
-->
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary" *ngIf="dataPrint">
    <ion-chip color="light" slot="start" style="margin-left: 15px;">
      <ion-icon name="wallet" color="light"></ion-icon>
      <ion-label>Rp. {{ dataPrint | pluck:'hargaBeli' | sum | number }}</ion-label>
    </ion-chip>
    <ion-toggle style="padding-right: 17px;" *ngIf="dataPrint" color="light" mode="ios" slot="end" (ionChange)="$event ? selectAll($event.target.checked) : null"></ion-toggle>
  </ion-toolbar>
</ion-footer>
