<ion-header>
  <ion-toolbar color="tertiary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>BARANG</strong> MASUK
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="calendar" slot="end"></ion-icon>
        <ion-datetime [(ngModel)]="now" (ionChange)="tampilkan()"
          display-format="DD" pickerFormat="DD MMM YYYY" [placeholder]="tanggal"
          style="font-size:15px;padding:0;margin:2px -5px 0;font-weight:bold;color:white"
        ></ion-datetime>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="tertiary" *ngIf="dataAmbilan">
    <ion-title style="font-size: 18px">Total Pengeluaran:</ion-title>
    <ion-chip slot="end">
      <ion-label color="light">Rp.{{ hitungDiambil(dataAmbilan) | number }}</ion-label>
    </ion-chip>
  </ion-toolbar>
  <ion-progress-bar color="tertiary" *ngIf="onload" type="indeterminate"></ion-progress-bar>
</ion-header>
 
<ion-content no-padding>

<div *ngIf="dataAmbilan">
  <ion-card *ngFor="let ambilan of dataAmbilan | groupBy:'toko' | orderBy:'key'; trackBy: addExpand">
    <ion-item-divider color="tertiary" (click)="ambilan.expand=!ambilan.expand">
      <ion-icon slot="start" name="cube"></ion-icon>
      <ion-label><span class="eksp"><strong>{{ ambilan.key }}</strong> - {{ ambilan.value.length }}pcs</span></ion-label>
      <ion-note slot="end" class="pc">Rp.{{ hitungDiambil(ambilan.value) | number }}</ion-note>
    </ion-item-divider>
    <ion-list *ngIf="ambilan.expand" class="ion-no-padding">
        <ion-item-sliding *ngFor="let data of ambilan.value | orderBy:'barang'">
          <ion-item [color]="data.status=='diambil'?'success':(data.status=='kosong'?'danger':(data.status=='fullkeep'?'warning':'light'))">
            <ion-label>
              <ion-note>{{ data.penerima }} <strong>({{ data.cs }})</strong></ion-note>
              <ion-card-title>
              {{ data.barang }} {{ data.warna }}
              </ion-card-title>
            </ion-label>
            <ion-badge slot="end" color="light" style="border-radius: 10px;padding: 5px 10px">{{ data.hargaBeli | number }}</ion-badge>
          </ion-item>
          <ion-item-options side="start">
            <ion-item-option color="success" (click)="gantiStatus(data, 'diambil')">
              <ion-icon slot="icon-only" name="checkmark"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="end">
            <ion-item-option color="warning" (click)="gantiStatus(data, 'fullkeep')">
              <ion-icon slot="icon-only" name="hand"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" (click)="gantiStatus(data, 'kosong')">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
    </ion-list>
  </ion-card>
</div>

<!--
  <h1>Enter Value to Create QR code</h1>
  <ion-input type="text" [(ngModel)]="encodedData"></ion-input>
 
  <ion-button (click)="encodedText()">
    Create QR
  </ion-button>
-->
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-button style="margin:0 10px" strong="true" fill="outline" expand="block" (click)="scanMassal()" color="light">
      <ion-icon slot="start" name="qr-scanner"></ion-icon> SCAN BARANG
    </ion-button>
  </ion-toolbar>
</ion-footer>