<ion-header>
  <ion-toolbar color="tertiary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
      <ion-chip slot="start" color="light" style="border-radius: 15px 0 0 15px;margin-right: 0;">
        <ion-label color="light">BARANG MASUK</ion-label>
      </ion-chip>
      <ion-chip slot="start" color="light" style="border-radius: 0 15px 15px 0;margin-left: 0;">
        <ion-label *ngIf="dataAmbilan" color="light">{{ hitungDiambil(dataAmbilan).jumlah }}/{{ dataAmbilan.length }}</ion-label>
      </ion-chip>
    <ion-icon name="calendar" slot="end" style="margin: 0;font-size: 20px;"></ion-icon>
    <ion-buttons slot="end">
      <ion-button>
        <ion-datetime [(ngModel)]="now" (ionChange)="tampilkan()"
          display-format="DD" pickerFormat="DD MMM YYYY" [placeholder]="tanggal"
          style="font-size:18px;padding:0;margin:2px -5px 0;font-weight:bold;color:white"
        ></ion-datetime>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="tertiary" *ngIf="dataAmbilan">
    <ion-chip style="margin-left: 10px;" slot="start">
      <ion-icon name="wallet" color="light"></ion-icon>
      <ion-label color="light">EST: Rp.{{ dataAmbilan | pluck:'hargaBeli' | sum | number }}</ion-label>
    </ion-chip>
    <ion-chip color="light" style="margin-right: 10px;" slot="end">
      <ion-label color="light">Rp.{{ hitungDiambil(dataAmbilan).total | number }}</ion-label>
    </ion-chip>
  </ion-toolbar>
  <ion-progress-bar color="tertiary" *ngIf="onload" type="indeterminate"></ion-progress-bar>
</ion-header>
 
<ion-content class="ion-no-padding">

  <div *ngIf="dataAmbilan?.length>0">
    <ion-list class="ion-no-padding" *ngFor="let ambilan of dataAmbilan | groupBy:'toko' | keyvalue | orderBy:'key'; trackBy: addExpand">
      <ion-item-divider style="height: 50px;" color="tertiary" (click)="ambilan.expand=!ambilan.expand" sticky>
        <ion-icon slot="start" name="cube"></ion-icon>
        <ion-label><span class="eksp"><strong>{{ ambilan.key.toUpperCase() }}</strong> - {{ hitungDiambil(ambilan.value).jumlah }}/{{ ambilan.value.length }}pcs</span></ion-label>
        <ion-note slot="end" class="pc">Rp.{{ hitungDiambil(ambilan.value).total | number }}</ion-note>
      </ion-item-divider>
      <ion-list *ngIf="!ambilan.expand" class="ion-no-padding">
          <ion-item-sliding *ngFor="let data of ambilan.value | orderBy:'barang'">
            <ion-item [color]="data.statusKeep=='diambil'?'success':(data.statusKeep=='kosong'?'danger':(data.statusKeep=='fullkeep'?'warning':'light'))">
              <ion-label>
                <ion-note><b *ngIf="data.kodeKeep">[{{data.kodeKeep}}] </b>{{ tool.formatNama(data.penerima).toUpperCase() }} <strong>({{ data.cs }})</strong></ion-note>
                <ion-card-title>
                {{ tool.titleCase(data.barang) }} {{ tool.titleCase(data.warna) }}
                </ion-card-title>
              </ion-label>
              <ion-badge slot="end" color="light" style="border-radius: 10px;padding: 5px 10px">{{ data.hargaBeli | number }}</ion-badge>
            </ion-item>
            <!-- <ion-item-options side="start">
              <ion-item-option color="success" (click)="gantiStatus(data, 'diambil')">
                <ion-icon slot="icon-only" name="checkmark"></ion-icon>
              </ion-item-option>
            </ion-item-options> -->
            <ion-item-options side="end">
              <ion-item-option color="warning" (click)="gantiStatus(data, 'fullkeep')">
                <ion-icon slot="icon-only" name="hand"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="gantiStatus(data, 'kosong')">
                <ion-icon slot="icon-only" name="close"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
      </ion-list>
    </ion-list>
  </div>

</ion-content>

<ion-footer>
  <ion-button *ngIf="!(olahdataExist | async) && (dataAmbilan)?.length!==0" style="margin: 0;" strong="true" fill="solid" expand="full" (click)="rekap()" color="light">
    <ion-icon color="tertiary" slot="start" name="analytics"></ion-icon>
    <ion-label color="tertiary">REKAP AMBILAN</ion-label>
  </ion-button>
  <ion-toolbar color="tertiary">
    <ion-button style="margin-right:10px" strong="true" fill="solid" expand="block" (click)="scanMassal()" color="tertiary">
      <ion-icon slot="start" name="qr-scanner"></ion-icon> SCAN BARANG MASUK
    </ion-button>
  </ion-toolbar>
</ion-footer>